body {
  font-family: 'Roboto Slab', serif;
  color: var(--fonte-primaria);
  background-color: var(--cor-primaria);
}

.Titulos {
  margin-left: 7%;
}

html, body, .container-fluid {
  height: 100%;
}

.row {
  height: 33.33%;
}

.row > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.preco {
  padding-right: 5px;
}

.change::before {
  content: '(';
}

.change::after {
  content: ')';
}

.preco::before {
  content: '$';
}

.change:empty, .preco:empty {
  display: none;
}

.petroleo, .petroleo small {
    background-color: rgb(41, 41, 41);
    color: white;
    margin-top: 0px;
    
}
.ouro, .ouro small {
  background-color: rgb(241, 205, 1);
  color: #000000;

}

.prata, .prata small {
  background-color: rgb(161, 161, 161);
  color: #000000;
}
